@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;600&display=swap');


* {
  margin: 0;
  padding: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Header css */

header {
  position: relative;
  width: 100%;
  height: 508px;
  top: -60px;
  background: #656CEC;
  border-radius: 64px;
}
    
.header-text {
  padding-left: 558px;
  padding-top: 90px;
  font-family:'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
  color: #FFFFFF;
}
    
.line {
   position: absolute;
   width: 1800px;
   height: 0px;
   left: 0px;
   top: 158px;
   border: 1px solid #FFFFFF;
}


.container {
    display: grid;
    grid-template-columns: 200px 250px 200px;
    column-gap: 10px;
    margin-left : -180px;
    margin-top : 130px;
}
.column {
   padding-left: 40px;
   height: 250px;
   margin: 5px;
}

.rank {
   display : relative;
   width: 36px;
   height: 36px;
   margin-left : 40px;
   border-radius :50px;
   background-color:#BABEFF;
   color :white;
   text-align :center;
   line-height : 36px;
   margin-bottom : 5px;
   font-size: 24px;

}
  
.top-scorer-circle {
   display : relative;
   width: 112px;
   height: 112px;
   border-radius : 100px;
   background-color: #BABEFF;
   border: 4px solid white;
}
  
.top-scorer-box {
  display : relative;
  margin-top : 5px;
  width: 116px;
  height: 32px;
  background-color :#BABEFF;
  border-radius :20px;
  text-align :center;
  line-height : 32px;  
  font-size: 14px;
}

.rank1-circle {
  width : 162px;
  height : 162px;
  border: 6px solid white;
}
  
.rank1-box {
  width : 156px;
  height : 40px;
  line-height: 40px;
  font-size: 18px;
}
  
.rank1 {
   margin-left :65px;
}
  
.rank1-column {
   margin-top : -58px;
   padding-left : 30px;
}
/* main-box css */


.main {
    display: grid;
    /* grid-template-columns: 70px 300px 440px 600px; */
    grid-template-columns: 4.86% 20.8% 32.5% 41.84%;
    text-align: center;
    margin-bottom: 10px;
    
  }
  .main-column {
  background-color: #D2D4F2;
  padding-top :5px;
  padding-bottom : 5px;
  }
.main-circle {
  width : 80px;
  height : 80px;
  margin-left : 125px;
  background-color: #BABEFF;
  border-radius : 100px;
  border: 2px solid white;
}



.main-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  padding-top :20px;
  padding-left : 40px;
  font-size: 32px;
  line-height: 39px;
  color: #1E1E1E;
}

